<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ToDoアプリケーション</title>
</head>

<body>
    <h1>ToDoアプリケーション</h1>
    <img th:src=@{/img/todo_people.png} width="640px">
    <p>
        ログインしてください．メンバーIDがない人は，管理者にお問い合わせください．
    </p>
    <form role="form" th:action="@{/login}" th:object="${loginForm}" method="post">
        <p>
            <label>メンバーID: </label>
            <input type="text" th:field="*{mid}" /> 
            <span th:if="${#fields.hasErrors('mid')}" th:errors="*{mid}" style="color: red"></span>
        </p>
        <p>
            <input type="submit" value="ログイン" />
        </p>
    </form>
</body>

</html>