<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>

<body>
    <h1> ようこそ [[${member.name}]] さん！</h1>
    <p>
        <a th:href="@{/{mid}/todos/all(mid=${member.mid})}">みんなのToDo</a>
        <a th:href="@{/}">ログアウト</a>
    </p>
    <h2>ToDo</h2>
    <table border="1">
        <tr>
            <th>#</th>
            <th>タイトル</th>
            <th>作成日時</th>
            <th>コマンド</th>
        </tr>
        <tr th:each="todo: ${todos}">
            <td>[[${todo.seq}]]</td>
            <td>[[${todo.title}]]</td>
            <td>[[${todo.createdAt}]]</td>
            <td>
                <a th:href="@{/{mid}/todos/{seq}/done(mid=${member.mid},seq=${todo.seq})}">完了</a>
            </td>
        </tr>
        <tr>
            <td>
                *
            </td>
            <td colspan="3">
                <form role="form" th:action="@{/{mid}/todos(mid=${member.mid})}" th:object="${ToDoForm}" method="post">
                    <input type="text" required th:field="*{title}" />
                    <input type="submit" value="新規作成" />
                </form>
            </td>
        </tr>
    </table>
    <div th:fragment="paginationbar">
        <ul>
            <li th:class="${todos.first}? 'disabled': ''" style="display:inline">
                <span th:if="${todos.first}">&lt;&lt;</span>
                <a th:if="${not todos.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
            </li>
            <li th:if="${todos.totalPages} > 0" th:each="i: ${#numbers.sequence(0, todos.totalPages-1)}" th:class="(${i}==${todos.number})?'active': ''" style="display:inline">
                <span th:if="${i} == ${todos.number}" th:text="${i+1}">1</span>
                <a th:if="${i}!=${todos.number}" th:href="@{${url}(page=${i})}">
                    <span th:text="${i+1}">1</span>
                </a>
            </li>
            <li th:class="${todos.last}? 'disabled': ''" style="display:inline">
                <span th:if="${todos.last}">&gt;&gt;</span>
                <a th:if="${not todos.last}" th:href="@{${url}(page=(${todos.totalPages}-1))}">&gt;&gt;</a>
            </li>
        </ul>
    </div>

    <h2>Done</h2>
    <table border="1">
        <tr>
            <th>#</th>
            <th>タイトル</th>
            <th>作成日時</th>
            <th>完了日時</th>
        </tr>
        <tr th:each="done: ${dones}">
            <td>[[${done.seq}]]</td>
            <td>[[${done.title}]]</td>
            <td>[[${done.createdAt}]]</td>
            <td>[[${done.doneAt}]]</td>
        </tr>
    </table>
    <div th:fragment="paginationbar">
        <ul>
            <li th:class="${dones.first}? 'disabled': ''" style="display:inline">
                <span th:if="${dones.first}">&lt;&lt;</span>
                <a th:if="${not dones.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
            </li>
            <li th:if="${dones.totalPages} > 0" th:each="i: ${#numbers.sequence(0, dones.totalPages-1)}" th:class="(${i}==${dones.number})?'active': ''" style="display:inline">
                <span th:if="${i} == ${dones.number}" th:text="${i+1}">1</span>
                <a th:if="${i}!=${dones.number}" th:href="@{${url}(page=${i})}">
                    <span th:text="${i+1}">1</span>
                </a>
            </li>
            <li th:class="${dones.last}? 'disabled': ''" style="display:inline">
                <span th:if="${dones.last}">&gt;&gt;</span>
                <a th:if="${not dones.last}" th:href="@{${url}(page=(${dones.totalPages}-1))}">&gt;&gt;</a>
            </li>
        </ul>
    </div>

</body>

</html>